html {
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  min-width: 83.750em;
  ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
  width: 100%;
}

@media only screen and (min-width: 90em) {
  html {
    font-size: 16px;
  }
}

body {
  color: #333;
  font: 1rem/1.75 "Muller", sans-serif;
  height: 100%;
  min-height: 100%;
  min-width: 83.750rem;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0 0 2.143em;
}

em {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 0.857em;
}

h1, h2, h3, h4, h5, h6 {
  font: 700 1em/1.2"Muller", sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.857em;
}

h3 {
  font-size: 2.143em;
}

h4 {
  font-size: 1.714em;
}

h5 {
  font-size: 1.286em;
}

h6 {
  font-size: 1em;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  z-index: 0;
}

h2, h3 {
  margin: 55px 0;
}

h3 {
  margin: 40px 0;
}

h4 {
  margin: 35px 0;
}

h5 {
  margin: 30px 0;
}

blockquote {
  font-size: 1.5em;
  margin: 2.143em 0;
}

* {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
}

.preloader {
  background: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  padding: 0 1.071rem;
  width: 83.750rem;
}

.none, .hidden {
  display: none;
}

.is-locked {
  overflow: hidden;
}

.overlay {
  background: #ededed;
  bottom: 50px;
  height: 0;
  left: 50px;
  overflow: hidden;
  position: fixed;
  right: 50px;
  top: 0;
  transition: height 0.3s ease-out;
  webkit-transition: height 0.3s ease-out;
  z-index: 200;
}

.text-center {
  text-align: center;
}

.root-layout {
  min-height: 100%;
  min-height: 100vh;
}

.main {
  max-height: 1000000px;
  min-height: 500px;
}

.section {
  padding: 7.143em 0;
}

.section:first-child .title {
  margin-top: 0;
}

.title {
  padding-bottom: 1.429rem;
  position: relative;
}

.title::after {
  background: #f1d725;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 16.667%;
}

.title--center {
  text-align: center;
}

.title--center::after {
  left: 50%;
  ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  webkit-transform: translate(-50%, 0);
}

.title em {
  display: block;
  font-size: 1.800em;
  font-style: normal;
  line-height: 1;
}

.title em.quote {
  margin-left: -0.611em;
}

.introtext {
  font-size: 1.286em;
  font-weight: 300;
  line-height: 1.6;
}

.social-list {
  font-size: 0;
  margin: 0 -8px;
}

.social-list__item {
  display: inline-block;
  margin: 0 8px;
}

.social-link {
  background: url(../images/sprite.png) no-repeat;
  display: inherit;
  font-size: 1rem;
  height: 16px;
  line-height: 16px;
  opacity: .7;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 16px;
}

.social-link:hover {
  opacity: 1;
}

.social-link--fb {
  background-position: -16px 0 !important;
}

.social-link--in {
  background-position: -32px 0 !important;
}

@import 'footer';

.btn-wrap {
  padding: 50px 0;
}

.btn-wrap--center {
  text-align: center;
}

.btn {
  appearance: none;
  background: #f2f2f2;
  border: 0;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font: 800 0.857rem/1 "Muller", sans-serif;
  height: 4.167em;
  line-height: 4.500em;
  min-width: 15.714em;
  moz-appearance: none;
  outline: 0;
  padding: 0 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  vertical-align: top;
  webkit-appearance: none;
  webkit-border-radius: 5px;
  webkit-transition: all 0.3s ease;
  white-space: nowrap;
}

.btn:hover {
  background: #f7f7f7;
}

.btn:active {
  background: #ededed;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  background: #f1d725;
}

.btn-primary:hover, .btn-primary:hover:hover, .btn-primary:active:hover {
  background: #f4e055;
}

.btn-primary:active, .btn-primary:hover:active, .btn-primary:active:active {
  background: #edd10f;
}

.btn-success, .btn-success:hover, .btn-success:active {
  background: #009835;
  color: white;
  cursor: default;
}

.btn-outline, .btn-outline:hover, .btn-outline:active {
  background: none;
  box-shadow: inset 0 0 0 2px #f1d725;
  webkit-box-shadow: inset 0 0 0 2px #f1d725;
}

.btn-outline:hover {
  background: #f1d725;
}

.btn-outline:active {
  background: #f0d51b;
}

.btn--sm {
  font-weight: 500;
  height: 40px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: none;
}

.btn--lg {
  border-radius: 10px;
  font-size: 1rem;
  height: 6.429em;
  line-height: 6.714em;
  padding: 0 6.429em;
  webkit-border-radius: 10px;
  width: 100%;
}

.link {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.link-primary {
  color: #f1d725;
}

.link-primary .icon-arrow::before {
  background: #f1d725;
}

.link-primary .icon-arrow::after {
  border-color: #f1d725;
}

@media only screen and (min-width: 62em) {
  .link:hover .icon-arrow {
    width: 100px;
  }
}

::-webkit-input-placeholder {
  color: #666;
}

:-moz-placeholder {
  color: #666;
}

.form__wrap {
  font-size: 0;
  margin: 4.286rem -1.071rem;
}

.form__item {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1.071rem;
  vertical-align: top;
  width: 100%;
}

.form .input {
  border: 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #333;
  font: 700 0.857rem/4.500em"Muller", sans-serif;
  height: 4.167em;
  min-width: 15.714em;
  padding: 0 20px;
  transition: all 0.2s;
  webkit-border-radius: 5px;
  webkit-transition: all 0.2s;
  width: 100%;
}

.form .input.error, .form .input.required, .form .input:focus:invalid {
  border-color: #AB0D0D;
}

.form .input--outline {
  border-color: #f2f2f2;
}

.form .btn {
  width: 100%;
}