
.bg-turquoise {
  background: #1ABC9C;
}
.bg-green-sea {
  background: #16A085;
}
.bg-emerland,.bg-emerald {
  background: #2ECC71;
}
.bg-nephritis {
  background: #27AE60;
}
.bg-peter-river {
  background: #3498DB;
}
.bg-belize-hole {
  background: #2980B9;
}
.bg-amethyst {
  background: #9B59B6;
}
.bg-wisteria {
  background: #8E44AD;
}
.bg-wet-asphalt {
  background: #34495E;
}
.bg-midnight-blue {
  background: #2C3E50;
}
.bg-sun-flower {
  background: #F1C40F;
}
.bg-orange {
  background: #F39C12;
}
.bg-carrot {
  background: #E67E22;
}
.bg-pumpkin {
  background: #D35400;
}
.bg-alizarin {
  background: #E74C3C;
}
.bg-pomegranate {
  background: #C0392B;
}
.bg-clouds {
  background: #ECF0F1;
}
.bg-silver {
  background: #BDC3C7;
}
.bg-concrete {
  background: #95A5A6;
}
.bg-asbestos {
  background: #7F8C8D;
}
.text-turquoise {
  color: #1ABC9C;
}
.text-green-sea {
  color: #16A085;
}
.text-emerland, .text-emerald {
  color: #2ECC71;
}
.text-nephritis {
  color: #27AE60;
}
.text-peter-river {
  color: #3498DB;
}
.text-belize-hole {
  color: #2980B9;
}
.text-amethyst {
  color: #9B59B6;
}
.text-wisteria {
  color: #8E44AD;
}
.text-wet-asphalt {
  color: #34495E;
}
.text-midnight-blue {
  color: #2C3E50;
}
.text-sun-flower {
  color: #F1C40F;
}
.text-orange {
  color: #F39C12;
}
.text-carrot {
  color: #E67E22;
}
.text-pumpkin {
  color: #D35400;
}
.text-alizarin {
  color: #E74C3C;
}
.text-pomegranate {
  color: #C0392B;
}
.text-clouds {
  color: #bdc3c7;
}
.text-silver {
  color: #BDC3C7;
}
.text-concrete {
  color: #95A5A6;
}
.text-asbestos {
  color: #7F8C8D;
}
.text-white {
  color: #fff;
}
