@import "base";

.jumbo {
  padding-top: 68px;
  padding-bottom: 104px;
  background: #EFEFEF;

  /* Упёрся в потолок?: */
  .jumbo__header {
    font-family: MullerBold;
    font-size: 72px;
    color: #262626;
    line-height: 86px;
  }

  .jumbo__row {
    margin-top: 51px;
    margin-bottom: 38px;

    .jumbo__left {
      /* Достиг приличного до: */
      .jumbo__lead {
        font-family: MullerRegular;
        font-size: 24px;
        color: #000000;
        line-height: 40px;
      }

      @mixin jumbo__text {
        font-family: MullerRegular;
        font-size: 16px;
        color: #2E2E2C;
        line-height: 17px;
      }

      .jumbo__offer {
        /* Есть система, котора: */
        @include jumbo__text;

        margin-top: 100px;
      }

      .jumbo__form {
        margin-top: 26px;
      }

      .jumbo__button {
        /* action-button: */
        background: #F1D725;
        border: 1px solid #F1D725;
        border-radius: 5px;
        /* ПОЛУЧИТЬ ЗАПИСЬ ВЕБИ: */
        font-family: MullerBold;
        font-size: 12px;
        color: #262626;
        letter-spacing: 0.59px;
        line-height: 14px;
        padding: 17px 39px;

        &:hover {
          background: #EDC00B;

          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;  
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
        }
      }

      .jumbo__note {
        /* Подходит, если ты за: */
        @include jumbo__text;
      }
    }
    .jumbo__right {
      padding-left: 55px;
    }
  }
}

.results {
  padding-top: 114px;
  padding-bottom: 114px;

  .results__title {
    text-align: center;

    /* учеников, которые ра: */
    font-family: MullerBold;
    font-size: 42px;
    color: #2E2E2C;
    line-height: 50px;

    span {
      /* 100%: */
      font-family: MullerBold;
      font-size: 72px;
      color: #000000;
      line-height: 80px;
      display: block;
    }

    &::after {
      content:"";
      display: block;
      margin: 18px auto;
      background: #ECD434;
      width: 163px;
      height: 2px;
    }
  }

  .results__table {
    margin-top: 50px;
    width: 100%;

    .results__name {      
      width: 32%;
      text-align: right;
      padding: 6px 6px 7px 6px;
    }

    .results__result {
      padding: 6px 6px 7px 42px;

      &::before {
        content:"";
        display: block;
        float: left;
        margin: 8px -26px;
        background: #C7C7C2;
        width: 9px;
        height: 1px;
      }
    }
  }
}

.author {
  background: #EFEFEF;
  padding-top: 128px;
  padding-bottom: 60px;

  position: relative;

  .author__text {
    position: relative;
    z-index: 15;

    h2 {
      /* Тренерский опыт: */
      font-family: MullerBold;
      font-size: 24px;
      color: #2E2E2C;
      line-height: 29px;

      margin-top: 51px;
      margin-bottom: 25px;

      &::after {
        content:"";
        display: block;
        margin: 13px 0;
        background: #ECD434;
        width: 67px;
        height: 2px;
      }
    }

    p {
      line-height: 23px;
      margin-bottom: 7px;
    }

    .author__title {
      /* Николай Воробьев : */
      font-family: MullerBold;
      font-size: 42px;
      color: #2E2E2C;
      line-height: 50px;
    }

    .author__subtitle {    
      /* тренирует 13 лет, ве: */
      font-family: MullerBold;
      font-size: 18px;
      color: #2E2E2C;
      line-height: 27px;

      margin-top: 19px;
    }
    .author__coach {
      margin-top: 66px;
      p {
        margin-bottom: 25px;
      }
    }
    .author__tv {
    }
    .author__radio {
    }
    .author__books {
    }
    .author__goals {
      p {
        margin-bottom: 0;
      }
    }
  }

  .author__photo {
    float: right;
    position: absolute;
    top: 128px;
    right: 0;
  }
/*
  .author__photo.fixed {
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
*/
  .author__photo-scroll-trigger {
    float: right;
    position: absolute;
    top: 780px;
  }
}
